Write a Python function that takes a list and returns a new list with unique elements of the first list.


Sample List : [1,1,1,1,2,2,3,3,3,3,4,5]
Unique List : [1, 2, 3, 4, 5]

In [ ]:
#Approach 1 : By traversing the list

def unique_list(lst1):
  uniq_lst = []
  for x in lst1:
    if x not in uniq_lst:
      uniq_lst.append(x)
  return uniq_lst

In [ ]:
# Testing the function unique_list
sample_list = [1,1,1,1,2,2,3,3,3,3,4,5]
unique_list(sample_list)

[1, 2, 3, 4, 5]

In [ ]:
# Approach 2: Using unique function available in numpy library
import numpy as np

def unique_list_1(lst2):
  arr = np.array(lst2)
  print(np.unique(arr))

In [ ]:
# Testing the function unique_list_1
sample_list = [1,1,1,1,2,2,3,3,3,3,4,5]
unique_list_1(sample_list)

[1 2 3 4 5]

In [ ]:
# Approach 3: Using set data structure

def unique_list_2(lst3):
  s = set(lst3)
  l = list(s)
  return l

In [ ]:
# Testing the function unique_list_2
sample_list = [1,1,1,1,2,2,3,3,3,3,4,5]
unique_list_2(sample_list)

[1, 2, 3, 4, 5]